.content{
  max-width: 60%;
  margin: auto;
}

.header{
  padding-top: 20px;
  border-top: 1px solid black;
}

.bookCover{
  width: 60%;
  height: 160px;
}

#Welcome{
  margin-top:20px;
}

.header div{
  font-size:20px;
}

.margin-top-15{
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-30{
  margin-bottom: 30px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.headerSignIn{
  font-size:16px;
}
  .headerSignIn input{
    width:55%;
    display:inline-block;
  }

.registrationContainer input{
  display:inline-block;
  width: 70%;
}

.registrationContainer select {
  display: inline-block;
  width: 70%;
}

.registrationContainer span {
  display: inline-block;
  width: 25%;
}

.registrationRadioButton input{
  width:10% !important;
}