<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings: UnobtrusiveValidateMode" value="none" />
    <add key="XMLDBpath" value="C:\Users\Ranco\Documents\asp final\XMLFile.xml"/>
    <add key="XMLDBpathUsers" value="C:\Users\Ranco\Documents\asp final\users.xml"/>
  </appSettings>
</configuration>